.pv-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.pv-12{
    padding-top: 12px;
    padding-bottom: 12px;
}

.pv-16{
    padding-top: 16px;
    padding-bottom: 16px;
}

.ph-20{
    padding-left: 20px;
    padding-right: 20px;
}

.ph-24{
    padding-left: 24px;
    padding-right: 24px;
}

.pt-71{
    padding-top: 71px;
}

.pb-16{
    padding-bottom: 16px;
}

.pb-45{
    padding-bottom: 45px;
}

.p-32{
    padding: 32px;
}

.mb-60{
    margin-bottom: 60px;
}

.h-100vh{
    height: 100vh;
}

.h-100{
    height: 100%;
}

.w-100vw{
    width: 100vw;
}

.w-100{
    width: 100%;
}

.flex{
    display: flex;
}

.flex-row{
   flex-direction: row; 
}

.flex-column{
    flex-direction: column; 
}

.content-width{
    width: fit-content;
}

.jc-center{
    justify-content: center;
}

.ai-center{
    align-items: center;
}

.js-sp-between{
    justify-content: space-between;
}

.js-end{
    justify-content: end;
}

.ai-stretch{
    align-items: stretch;
}

.g-12{
    gap: 12px;
}

.g-24{
    gap: 24px;
}